---
import Nav from '../layouts/nav.astro'
import Footer from '../layouts/footer.astro'
import Auth from '../pages/auth.astro'
import { verifyUser } from '../utils/auth'
import { actions } from 'astro:actions'

import '../styles/main.css'
interface Props {
	title: string;
	backgroundColor: string
}

const { title, backgroundColor } = Astro.props;
const cookie = Astro.cookies.get('horizonToken');

const isVerifiedUser = await verifyUser(actions, Astro.callAction ,cookie?.value)
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={title}>
		<meta property="og:title" content={title} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/horizon-logo-64.png" />
		<meta name="generator" content={Astro.generator} />

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://horizonhdfc600.vercel.app/">
		<meta property="og:type" content="website">
		<meta property="og:title" content={title}>
		<meta property="og:description" content="Horizon HDFC is a residential co-op within 3599 Condominum">
		<meta property="og:image" content="/horizon-logo-64.png">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="horizonhdfc600.vercel.app">
		<meta property="twitter:url" content="https://horizonhdfc600.vercel.app/">
		<meta name="twitter:title" content="Welcome to Horizon">
		<meta name="twitter:description" content="Horizon HDFC is a residential co-op within 3599 Condominum">
		<meta name="twitter:image" content="/horizon-logo-64.png">

		<title>{title}</title>
	</head>
	<body class={`text-center ${backgroundColor} position-relative min-vh-100 pt-5 mt-5`}>
		<Nav isVerified={isVerifiedUser}/>
		{
			isVerifiedUser ?
			// User is logged in
			<slot />
			:
			// User is not logged in
			<Auth />
		}
		<Footer/>
		<script>
			// // Import all Bootstrap js
			// import 'bootstrap/dist/js/bootstrap'

			// // Import only what you need
			import 'bootstrap/js/dist/carousel';
			import 'bootstrap/js/dist/collapse';
			import 'bootstrap/js/dist/dropdown';
			import 'bootstrap/js/dist/modal';
			// import 'bootstrap/js/dist/alert';
			// import 'bootstrap/js/dist/button';
			// import 'bootstrap/js/dist/offcanvas';
			// import 'bootstrap/js/dist/popover';
			// import 'bootstrap/js/dist/scrollspy';
			// import 'bootstrap/js/dist/tab';
			// import 'bootstrap/js/dist/toast';
			// import 'bootstrap/js/dist/tooltip';
		</script>
	</body>
</html>