---
import {frontmatter} from "../content/markdown/layout.md"
import horizon from "../../public/horizon-logo.png"

const {isVerified} = Astro.props
---

<!-- NAVIGATION -->
<nav class="navbar navbar-expand-lg bg-white border-bottom fixed-top">
    <div class="container">
        <a class="navbar-brand icon-link" href="/">
            <img class="rounded" src={horizon.src} alt="horizon icon">
            {frontmatter.title}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-white" id="navbarNavAltMarkup">
            <div class="navbar-nav pb-3 pb-lg-0">
                {
                    frontmatter.navItems.map((i: any) => {
                        const slug = i.name.toLowerCase().replaceAll(' ', '-')
                        return (
                            i.dropdown ?
                            // Dropdown Nav Item
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle item-hover-out" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    {i.name}
                                </a>
                                <ul class="dropdown-menu border border-top-0 rounded-0 rounded-bottom">
                                    {
                                        i.dropdown.map((d:string) => {
                                            const slug = d.toLowerCase().replaceAll(' ', '-')
                                            return (
                                                <li><a class="dropdown-item d-flex justify-content-center" href={`/${slug}`}>{d}</a></li>
                                            )
                                        })
                                    }
                                </ul>
                            </li>
                            :
                            <li>
                                { i.external_link ? 
                                <a class="nav-link item-hover-out" href={i.external_link} target="_blank">{i.name}</a>
                                :
                                <a class="nav-link item-hover-out" href={`/${slug}`}>{i.name}</a>
                                }
                            </li>
                        )
                    })
                }
                <li class="d-flex align-items-center justify-content-center">
                    <button id="logout" type="button" class=`${!isVerified ? 'd-none': ''} btn btn-outline-dark btn-sm mt-2 ms-0 mt-md-0 ms-md-2` >Logout</button>
                </li>
            </div>
        </div>
    </div>
</nav>
<script>
    import {addLogoutListener} from '../utils/auth.js';
    import { navigate } from 'astro:transitions/client';
    

    // ADDS LOGOUT FUNCTIONALITY
    addLogoutListener(navigate);


</script>